<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.unity3d.player" xmlns:tools="http://schemas.android.com/tools">
  <application android:allowAudioPlaybackCapture="true" android:requestLegacyExternalStorage="true">
    <activity android:name="me.tigerhix.cytoid.CytoidPluginActivity" android:screenOrientation="sensorLandscape" android:label="@string/app_name" android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <data android:scheme="cytoid" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" />
        <data android:mimeType="*/*" />
        <data android:pathPattern=".*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="file" />
        <data android:pathPattern=".*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:mimeType="application/zip" android:scheme="file" />
        <data android:mimeType="application/x-zip-compressed" android:scheme="file" />
        <data android:mimeType="application/octet-stream" android:scheme="file" />
      </intent-filter>
      <intent-filter>
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/vnd.cytoid" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/cytoid" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/octet-stream" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/zip" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <data android:host="*" android:scheme="content" android:mimeType="application/x-zip-compressed" android:pathPattern=".*\\..*\\..*\\..*\\..*\\.cytoidlevel.zip" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </activity>
  </application>
</manifest>
